{% extends "base.html" %}

{% block content %}
<br/>
<nav>
    <div>
    Для распознавания надо сделать фото текста в свете, дающем контрастное изображение точек со светом и тенью, т.е. падающем спереди или из-за спины, но не сверху. <br>
        Не рекомендуется, чтобы свет падал строго сбоку. <br>
        Лист должен быть сфотографирован сверху. <br>
        <br>
        <table><tr>
            <td width="300px" align="center">
                <img src="/static/correct_light.png" align="middle">
            </td>
            <td width="300px" align="center">
                <img src="/static/wrong_light.png" align="middle">
            </td>
            <td width="300px" align="center">
                <img src="/static/wrong_position.png" align="middle">
            </td>
        </tr><tr>
            <td align="center">
                <div style="color:green">Правильно</div>
            </td>
            <td align="center">
                <div style="color:red">Неправильно</div> (свет падает сверху)
            </td>
            <td align="center">
                <div style="color:red">Неправильно</div> (фотографировать надо сверху)
            </td>
        </tr>
        </table>
        <br>
        Разрешение не менее 1000 точек по вертикали и горизонтали (большинство мобильных и фотоаппаратов дают такое и лучшее разрешение).
        <br>
        <br>
        Пример правильно снятого текста (хотя можно и еще ровнее):
        <br>
    </div>
    <img src="/static/example.jpg" align="left">
</nav>
<div>
    <a href="{{ url_for('results_demo') }}"> Распознать </a>
</div>
{% endblock %}
