{% extends "base.html" %}

{% block content %}
<form  class="container" action="" method="post">
    {{ form.hidden_tag() }}
	<div class="title">Вход в систему:</div>
	<div class="wrapper">
    <div>{{ form.e_mail.label }}</div>
    <div>{{ form.e_mail() }}</div>
	</div>
	<div class="wrapper">{{ form.remember_me() }}
         <label for="remember_me">{{ form.remember_me.label }}</label></div>
	{{ flashed_messages() }}
    <div class="button_wrapper">{{ form.submit() }}</div>
</form>

{% endblock %}
