{% extends "base.html" %}

{% block content %}
<br/>
<form method="post" action="" name="submit" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    Если Вы согласитесь на публикацию загруженного Вами текста,<br>
    это поможет совершенствованию алгоритмов оптического распознавания Брайля<br>
    теми, кто захочет участвовать в разработке таких алгоритмов.<br>
    <br>
    Вы уверены, что возражаете? Можете поменять решение.<br>
    <br>
    <table width="100%" height="50%"><tr>
        <td width="50%" height="100%">{{ form.agree(style="transform : scale(3)") }} <br/><br/> {{ form.agree.label }}</td>
        <td width="50%" height="100%">{{ form.disgree(style="transform : scale(3)") }} <br/><br/> {{ form.disgree.label }}</td>
    </tr></table>
    <br/>
    {{ form.submit() }}<br/><br/><br/>

</form>
{% endblock %}
