{% extends "base.html" %}

{% block content %}
Картинку можно сохранить (правой кнопкой мыши "сохранить как").

    <form action="" method="post">
        {{ form.hidden_tag() }}
    <table width="100%" valign="top">
    <tr>
        <td width="60%" valign="top">
            <img align="middle" src="/{{form.marked_image_path.data}}" alt="Recognized image" style="height:100%; width:100%; object-fit:contain">
        </td>
        <td width="40%" valign="top">
            <b>Если Вы готовы помочь в усовершенствовании программы,<br/>
            исправьте текст и нажмите "Записать".</b>
            <br/>
            Если нет - просто вернитесь на <a href="{{ url_for('index') }}">гравную страницу</a>
            <p>{{ form.text(rows=30, cols=40) }}</p>
            Исправлять надо ошибки в распознавании, а не в исходном тексте! Проверьте, что исправленный текст
            соответствует тому, что написано на Брайле!
            <p>{{ form.submit() }}</p>
        </td>
    </tr>
    </table>
    </form>


{% endblock %}