{% extends "base.html" %}

{% block content %}
Картинку можно сохранить (правой кнопкой мыши "сохранить как").
    Если Вы готовы помочь в усовершенствовании программы,</br>
    <a href="correct" style="font-size: 25px;">помогите исправить ошибки в тексте</a>

    <table width="100%">
    <tr>
        <td width="60%" valign="top">
            <img align="middle" src="/{{filename}}" alt="Recognized image" style="height:100%; width:100%; object-fit:contain">
        <td/>
        <td width="40%" valign="top">
            <!-- Display the word {{letter}} -->
            <div align="left" class = "translation">
                {% for row in letter %}
                {{row}}<br>
                {% endfor %}
            </div>
        <td/>
    <tr/>
<table/>

{% endblock %}