{% extends "base.html" %}

{% block content %}
<nav>
    <br/>
    <div>
    Для распознавания надо сделать фото текста в свете, дающем контрастное изображение точек со светом и тенью, т.е. падающем спереди или из-за спины, но не сверху. <br>
        Не рекомендуется, чтобы свет падал строго сбоку. <br>
        Лист должен быть сфотографирован сверху. <br>
        Разрешение не менее 1000 точек по вертикали и горизонтели (большинство мобильных и фотоаппаратов дают такое и лучшее разрешение).
    </div>
</nav>
{% endblock %}
