{% extends "base.html" %}

{% block content %}
<br/>
<div>
    Распознавание текста шрифтом Брайля на изображении. Для распознавания загрузите фото текста (<a href="{{ url_for('help') }}">как сделать фото</a>)
</div>
<br/>
<form method="post" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% if current_user.is_anonymous  %}
        Для работы необходимо <a href="{{ url_for('login') }}"> войти </a> / <a href="{{ url_for('register') }}"> зарегистрироваться </a>
    {% else %}
        Если Вы согласны, чтобы данное изображение было использование в наборе данных, опубликованном публично для разработки
        новых алгоритмов распознавания текста Брайля, отметьте это ниже. Вы можете распознать текст, и не дав согласие. В этом случае
        загруженное изображение не будет включено в публично доступный набор данных.
        <br/><br/>
        <table width="100%" height="50%"><tr>
            <td width="50%" height="100%">{{ form.agree(style="transform : scale(3)") }} <br/><br/> {{ form.agree.label }}</td>
            <td width="50%" height="100%">{{ form.disgree(style="transform : scale(3)") }} <br/><br/> {{ form.disgree.label }}</td>
        </tr></table>
        <br/>
        {{ form.file(default=initial_file, accept="image/*", onchange="form.submit()", style="display:none;" ) }}
        <input type="button" id="form_file_click" value="Загрузить файл" onclick="form.file.click();" /><br/><br/><br/>
    {% endif %}
</form>
{% endblock %}
