{% extends "base.html" %}

{% block content %}
<br/>
<div>
    Регистрация нужна исключительно чтобы иметь обратную связь о ходе тестирования. Пароль пока не предусмотрен.<p/>
    Укажите e-mail и имя.
</div>
<br/>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.e_mail.label }}<br/>
    {{ form.e_mail(size=32) }}<br/><br/><br/>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}<br><br/><br/><br/>
    {{ form.remember_me(style="transform : scale(3)") }}<br/><br/>
    {{ form.remember_me.label }}<br/><br/>
    {{ form.submit() }}<br/><br/><br/>
</form>

{% endblock %}
