{% extends "base.html" %}

{% block content %}

<script>

function show_wait() {
  document.getElementById('normal_mode').style.display = "none";
  document.getElementById('wait_mode').style.display = "block";
}

function set_onchange() {
    document.getElementById('file').onchange = function() { show_wait(); this.form.submit(); };
    document.getElementById('camera_file').onchange = function() { show_wait(); this.form.submit(); };
}
</script>
<form method="post" class="container" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% if current_user.is_anonymous  %}
        <div class="wrapper" style="padding-top: 20px">
            Для работы необходимо <a href="{{ url_for('login') }}"> войти </a> / <a href="{{ url_for('register') }}"> зарегистрироваться </a>
        </div>
    {% else %}
        <div id="normal_mode">
            <div class="wrapper">
                Согласен на использование загруженного изображения в публично доступном наборе данных:
            </div>
            <div>
                <table class="centered" width="100%"><tr>
                    <td>{{ form.agree() }} <label for="agree">{{ form.agree.label }}</label></td>
                    <td>{{ form.disgree() }} <label for="disgree">{{ form.disgree.label }}</label></td>
                </tr></table>
                <table class="centered" width="100%"><tr>
                    <td>{{ form.lang }} <label for="lang">{{ form.lang.label }}</label></td>
                    <td>{{ form.find_orientation() }} <label for="find_orientation">{{ form.find_orientation.label }}</label></td>
                    <td>{{ form.process_2_sides() }} <label for="process_2_sides">{{ form.process_2_sides.label }}</label></td>
                </tr></table>
            </div>
            {{ flashed_messages() }}
            <div class="button_wrapper">
                <input type="button" id="form_camera_file_click" value="Сделать фото" onclick="set_onchange(); form.camera_file.click();"/>
                <input type="button" id="form_file_click" value="Загрузить файл" onclick="set_onchange(); form.file.click();"/>
                <table class="centered" width="100%"><tr>
                    <td width="40%"></td>
                    <td width="60%" align="center">(изображение, pdf, zip)</td>
                </tr></table>
            </div>
            {{ form.camera_file(accept="image/*", capture="camera", style="display:none;") }}
            {{ form.file(accept="image/*,application/pdf,application/zip", style="display:none;") }}
        </div>
        <div id="wait_mode" style="text-align: center; display:none">
            <div>минуточку...</div>
            <img src={{ url_for('static', filename='braille.gif') }}>
        </div>
    {% endif %}
</form>
{% endblock %}
